
views/getAllCustomers.ejs
<!DOCTYPE html>
<html>
<head>
    <title>mLab MongoDB - getAllCustomers</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container">
    <h2>Database Results Getting Customers</h2>
    <ul>
        <% results.forEach(function(r) { %>
        <li>ID: <%= r._id %></li>
        <ul>
            <li>First Name: <%= r.FIRSTNAME %></li>
            <li>Last Name: <%=r.LASTNAME %></li>
            <li>Street: <%=r.STREET %></li>
            <li>City: <%=r.CITY %></li>
            <li>State: <%=r.STATE %></li>
            <li>Zip Code: <%=r.ZIP %></li>
            <li>Email: <%=r.EMAIL %></li>
        </ul>
        <br/><br/>
        <% }); %>
    </ul>
</div>

</body>
</html>